/*
 * Carousel Gallery CSS Snippet
 * Taken from http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs
 */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}