/*
 * Carousel on top of  thumbnails
 * Taken from:  http://bootsnipp.com/snippets/featured/carousel-extended
 */
.hide-bullets 
{
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

/*
.thumbnail
{
	width: 140%;
	height: 140%;
}
*/

.hide-bullets li
{
	margin-right: 2%;
}
