/** ===============================================================
 *  Main LESS file for jackieplank.com
 *  @author Eric Davis - 2017
 * 
 * SWATCH COLORS
 * =============
 * 
 * 
 * CONTENTS
 * =============
 * I. 	Body - Stylings for the page body
 * II.	Header & Nav - Stylings for the Header & NavBar
 * III. Content - Stylings for the page main content
 * IV.	Generic - Generic stylings for any element
 * 
 =================================================================== */
/* =============================================
 * ==  I. Body		========================
 * ============================================= */
body {
  background-color: #eee;
}
@media (min-width: 1200px) {
  #page-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* =============================================
 * ==  II. Header & Nav		================
 * ============================================= */
.navbar-default .navbar-nav .active {
  color: red;
}
.navbar-default .navbar-nav .active a {
  color: red;
}
.navbar-default .navbar-nav a:hover {
  color: red !important;
}
.navbar-fixed-top {
  background-color: #f4f4f4;
}
/* =============================================
 * ==  III. Content     ========================
 * ============================================= */
#featured-carousel {
  max-width: 800px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}
#featured-carousel .carousel-inner {
  box-shadow: -10px 10px 10px #888888;
}
.confirm-delete {
  display: inline;
}
.gallery {
  display: inline-block;
  margin-top: 20px;
}
.img-btn {
  margin-right: 10px;
}
.myIframe {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: solid black 1px;
}
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#listings-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#drew-picture {
  float: left;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
#agnes-picture {
  float: right;
  margin-left: 15px;
  padding-right: 5px;
}
#jackie-picture {
  border-radius: 10px;
}
.logo-icon {
  max-height: 80px;
  width: auto;
  display: inline;
  padding-right: 10px;
}
#map-container {
  height: 250px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* =============================================
 * ==  V. Generic & Helper Classes  ============
 * ============================================= */
.align-right {
  text-align: right;
}
.bg-trans {
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-orange {
  background-color: rgba(239, 125, 0, 0.8);
  color: white;
}
.bordered {
  border: 1px solid #eaeaea;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.float-right {
  float: right;
}
.hide-bullets {
  list-style-type: none;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block !important;
}
.table-fixed {
  table-layout: fixed;
}
.thumbnail {
  width: 80%;
  height: auto;
}
.larger-text {
  font-size: 1.2em;
}
.z-index {
  z-index: 9;
}
/*# sourceMappingURL=jackie-plank.css.map */