/** ===============================================================
 *  Main LESS file for jackieplank.com
 *  @author Eric Davis - 2017
 * 
 * SWATCH COLORS
 * =============
 * 
 * 
 * CONTENTS
 * =============
 * I. 	Elements & Bootstrap - Stylings for HTML elements
 * II.	Header & Nav - Stylings for the Header & NavBar
 * III. Content - Stylings for the page main content
 * IV.	Generic - Generic stylings for any element
 * 
 =================================================================== */
@red: red;

@primary-orange: #f29c3d;

/* =============================================
 * ==  I. Elements & Bootstrap Overrides    ====
 * ============================================= */

body {
    //background-color: #eee;
    
    // This code breaks modals
    //transform: scale(0.90);
    //transform-origin: center top;
    //height: 100vh;
    a {
        color: #E8752F;
    }
}

blockquote {
    font-size: 1em;     // United theme makes them bigger
}

.btn-default {
    background-color: #e5e5e5;
    color: black;
}

.glyphicon-plus, .glyphicon-minus {
    font-size: 1.5em;
    font-weight: 900;
}

hr {
    border-color: @primary-orange;
}

@media (min-width: 1200px) {
    #page-wrapper {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.panel-title {
    color: #E8752F;
}

.well {
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
}

/* =============================================
 * ==  II. Header & Nav		================
 * ============================================= */

/*
.navbar-default {
    .navbar-nav {
        .active {
            color: @red;
            a {
                color: @red;
            }
        }
        a:hover {
            color: @red !important;
        }
    }
}
*/

.navbar-fixed-top {
    //background-color: #f4f4f4;	
}

.navbar-default {
    
    background-color: @primary-orange !important;
    border-color: @primary-orange !important;
    
    .navbar-toggle {
        background-color: @primary-orange !important;
        border-color: #fff !important;
    }
    
    .navbar-collapse {
        border-color: @primary-orange !important;
    }
    
    a:hover {
        background-color: #E5943A !important;
    }
}


/* =============================================
 * ==  III. Content     ========================
 * ============================================= */

/*/ Homepage carousel
#featured-carousel {
    
    max-width: 800px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    
    .carousel-inner {
        box-shadow: -10px 10px 10px #888888;
    }
    
    .carousel-caption {
        // Caption needs extra bottom margin above 1560px
        @media(min-width: 1560px) {
            margin-bottom: 3%;
        }
    }
    
}
*/
#carousel-thumbnails {
    margin-top: -50px;
}

// Delete confirm div
.confirm-delete {
    display: inline;
}

// Listings Galleries
.gallery {
    display: inline-block;
    margin-top: 20px;
}

.home-carousel {
    max-width: 750px;
    max-height: 500px;
}

.img-btn {
    margin-right: 10px;
}

.img-container {
    
}
.img-caption {
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    padding: 0px 10px 10px 10px;
    
    h3 {
        margin-bottom: 0px;
        @media(max-width: 500px) {
            font-size: 1em;
        }
    }
}

// Search Listings iframe
.myIframe {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 100%;
    overflow: auto; 
    -webkit-overflow-scrolling:touch;
    border: solid black 1px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
} 

// "Search Listings" button in sidebar
#listings-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Team Member Images
#drew-picture {
    float: left;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
#agnes-picture {
    float: right;
    margin-left: 15px;
    padding-right: 5px;
}
#jackie-picture {
    border-radius: 10px;
}

.logo-icon {
    max-height: 80px;
    width: auto;
    display: inline;
    padding-right: 10px;
}

// Google Map
#map-container {
    height: 250px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.quick-links {
    margin-top: -15px;
    padding-bottom: 20px;
}

/* =============================================
 * ==  V. Generic & Helper Classes  ============
 * ============================================= */

.align-right {
    text-align: right;
}

.bg-trans {
    background-color: rgba(0,0,0,0.6);
}

.bg-orange {
    background-color: rgba(239,125,0,0.8);
    color: white;
}

.bordered {
    border: 1px solid #eaeaea;
}

.bot-5 {
    margin-bottom: 5px;
}
.bot-10 {
    margin-bottom: 10px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}

.center-text {
    text-align: center;
    a {
        text-align: center;
    }
}

.float-right {
    float: right;
}

.hide-bullets {
    list-style-type: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block !important;
}

// Stop shifting content for fixed content when modal opens
.modal-open .no-jump {
    overflow-y: scroll;
}

.table-fixed {
    table-layout: fixed;
}

.thumbnail {
    width: 80%;
    height: auto;
}

.larger-text {
    font-size: 1.2em;
}

// Increase z-index for the embedded APIs to fix non-responsive
// Facebook/Google map in mobile devices
.z-index {
    z-index: 9;
}
